NODE_ENV=development
PRODUCTION_URL=https://reluekiss.com
BETTER_AUTH_SECRET=secret
DB_FILE_NAME="./db.sqlite"
RESEND_ACCESS_TOKEN=""
POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL=""
COOKIE_PREFIX=reluekiss
FROM_EMAIL="Your Name <accounts@yourdomain.com>"
OTEL_LOGS_URL=http://localhost:4318/v1/logs
OTEL_TRACES_URL=http://localhost:4318/v1/traces
LOG_FILE_PATH=./logs/otel.log
