BETTER_AUTH_SECRET=secret
COOKIE_PREFIX=reluekiss
DB_FILE_NAME="./db.sqlite"
FROM_EMAIL="Your Name <accounts@yourdomain.com>"
LOG_FILE_PATH=./logs/otel.log
OTEL_LOGS_URL=http://localhost:4318/v1/logs
OTEL_TRACES_URL=http://localhost:4318/v1/traces
PRODUCTION_URL=https://reluekiss.com
RESEND_ACCESS_TOKEN=""
